*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* overflow: hidden; */
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 100%;
  height: 10vh;
  position: fixed;
  background: #333;
  top: 0;
}

.menu {
  display: flex;
  gap: 3rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

#sidebar {
  display: flex;
  position: fixed;
  width: 15%;
  min-height: 90vh;
  background: #ff7f11;
  top: 10vh;
}

main {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background: #999;
  z-index: -1;
}

.content {
  min-height: 90%;
  width: 30%;
  background: green;
}
